@{
    <title>Admin Homepage</title>

    <html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/StyleSheet.css" />
    </head>
    <body>
        <h1>Admin Page</h1>

        <a href="@Url.Action("Manage", "User")" class="button-link">Edit Users</a>
        <a href="@Url.Action("Manage", "Inventory")" class="button-link">Manage Inventory</a>
        <a href="@Url.Action("CheckIn", "Inventory")" class="button-link">Check-In</a>
        <a href="@Url.Action("CheckOut", "Inventory")" class="button-link">Check-Out</a>
        <a href="@Url.Action("Index", "Home")" class="button-link">Log Out</a>
        
       
    </body>
    </html>
}
