@model Collaborative_Resource_Management_System.Models.User
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit User";
}
<body>
    <div class="container">

        <form asp-action="Edit" asp-controller="User" method="POST">
            <input type="hidden" asp-for="UserID">

            <div class="form-group">
                <label asp-for="Name">Name:</label>
                <input type="text" class="form-control" asp-for="Name" value="@Model.Name">
            </div>

            <div class="form-group">
                <label asp-for="Type">Type:</label>
                <select class="form-control" asp-for="Type" value="@Model.Type">
                    <option value="0" @((int)Model.Type == 0 ? "selected" : "")>Admin</option>
                    <option value="1" @((int)Model.Type == 1 ? "selected" : "")>Editor</option>
                    <option value="2" @((int)Model.Type == 2 ? "selected" : "")>Staff</option>

                </select>
            </div>

            <div class="form-group">
                <label asp-for="PIN">PIN:</label>
                <input type="password" class="form-control" asp-for="PIN" value="@Model.PIN">
            </div>

            <div class="form-group">
                <label asp-for="Password">Password:</label>
                <input type="password" class="form-control" asp-for="Password" value="@Model.Password">
            </div>

            <div class="form-group">
                <label asp-for="DeptID">Department ID:</label>
                <input type="text" class="form-control" asp-for="DeptID" value="@Model.DeptID">
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" asp-for="Active" @(Model.Active ? "checked" : "")>
                <label class="form-check-label" asp-for="Active">Active</label>
            </div>

            <button type="submit" class="btn btn-primary mt-4">Save</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
