@model Collaborative_Resource_Management_System.Models.User
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit User";
}
<body>
    <div class="container">

        <form asp-action="Edit" asp-controller="User" method="POST">
            <input type="hidden" name="UserID" value="@Model.UserID" />

            <div class="form-group">
                <label for="Image">Image:</label>
                <input type="file" id="Image" name="Image" class="form-control-file" accept="image/*" style="display: none;">
                <div id="drop-area" role="button" aria-label="Drag and drop area for image upload" tabindex="0" style="border: 2px dashed #ccc; padding: 20px; text-align: center;">
                    <p>Drag and drop an image here.</p>
                    <div id="preview-container" style="margin-top: 20px;"></div>
                </div>
                <input type="file" id="visible-input" name="VisibleImage" class="form-control-file" accept="image/*" style="margin-top: 10px;">
            </div>

            <div class="form-group">
                <label>Name:</label>
                <input type="text" class="form-control" name="Name" value="@Model.Name" />
            </div>

            <div class="form-group">
                <label>Type:</label>
                <select class="form-control" name="Type">
                    <option value="0" @((int)Model.Type == 0 ? "selected" : "")>Admin</option>
                    <option value="1" @((int)Model.Type == 1 ? "selected" : "")>Editor</option>
                    <option value="2" @((int)Model.Type == 2 ? "selected" : "")>Staff</option>
                </select>
            </div>

            <div class="form-group">
                <label>PIN:</label>
                <input type="password" class="form-control" name="PIN" value="@Model.PIN" />
            </div>

            <div class="form-group">
                <label>Password:</label>
                <input type="password" class="form-control" name="Password" value="@Model.Password" />
            </div>

            <div class="form-group">
                <label>Department:</label>
                <select class="form-control" name="DeptID">
                    @if (ViewBag.Departments != null)
                    {
                        foreach (var department in ViewBag.Departments)
                        {
                            <option value="@department.Value" @(Model.DeptID == int.Parse(department.Value) ? "selected" : "")>@department.Text</option>
                        }
                    }
                </select>
                <span class="text-danger">@Html.ValidationMessageFor(model => model.DeptID)</span>
            </div>

            <button type="submit" class="btn btn-primary mt-4">Save</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
