@model IEnumerable<UserRoleViewModel>
@using Collaborative_Resource_Management_System.Models
@using Microsoft.AspNetCore.Identity

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Manage Users";
}

<div class="mb-3">
    @using (Html.BeginForm("Manage", "User", FormMethod.Get))
    {
        <input type="text" name="searchString" placeholder="Search users..." class="form-control" style="width:auto; display:inline-block;" value="@ViewBag.SearchString" />
        <input type="submit" value="Search" class="btn btn-secondary btn-sm" />
    }

    <a href="@Url.Action("Add", "User")" class="btn btn-primary">Add User</a>
    <a href="@Url.Action("AddDepartment", "User")" class="btn btn-secondary">Add Department</a>
</div>

<table id="usersTable" class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    @foreach (var role in user.Roles)
                    {
                        @role <br />
                    }
                </td>
                <td>
                    <a href="@Url.Action("Edit", "User", new { id = user.Id })" class="btn btn-secondary btn-sm">Edit</a>
                    <button type="button" class="btn btn-danger btn-sm" onclick="location.href='@Url.Action("SoftDelete", "User", new { id = user.Id })'">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a href="@Url.Action("adminIndex", "Admin")" class="button-link">Admin Home</a>
    <a href="@Url.Action("Index", "Home")" class="button-link">Log Out</a>
</div>
