@model Collaborative_Resource_Management_System.Models.InventoryItem

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Consumable Item Details";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="@Url.Content(!string.IsNullOrEmpty(Model.Image) ? "~/img/" + Model.Image : "~/img/NotFound.jpg")" alt="Current Image" style="max-width: 200px; margin-bottom: 10px;">
        </div>
        <div class="col-md-6">
            <h2>@Model.Name</h2>
            <p>Description: @Model.Description</p>

            @if (Model.ItemType == Collaborative_Resource_Management_System.Models.ItemType.Consumable && Model.PricePerUnit.HasValue && Model.QuantityAvailable.HasValue)
            {
                <p>Price Per Unit: @Model.PricePerUnit</p>
                <p>Quantity Available: @Model.QuantityAvailable</p>
            }

            <button id="addToCart" class="btn btn-primary mr-2">Add to Cart</button>
            <div>
                <span>Total Items in Cart: </span>
                <span id="cartQuantity" class="badge badge-pill badge-secondary">0</span>
            </div>
            <button id="checkout" class="btn btn-secondary">Checkout</button>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.bundle.min.js"></script>
<script defer>
    document.getElementById("addToCart").addEventListener("click", function () {
        addToCart('@Model.InventoryItemID', '@Model.Name', @(Model.PricePerUnit.HasValue ? Model.PricePerUnit.ToString() : "'N/A'"));
    });
    document.getElementById("checkout").addEventListener("click", function () {
        window.location.href = '@Url.Action("Cart", "Inventory")';
    });

    function addToCart(itemID, itemName, price) {
        let cart = JSON.parse(localStorage.getItem('cart')) || [];
        let found = cart.find(item => item.id == itemID);

        if (found) {
            found.quantity++;
        } else {
            cart.push({ id: itemID, name: itemName, price: price, quantity: 1 });
        }

        updateCartQuantityDisplay();

        localStorage.setItem('cart', JSON.stringify(cart));
    }

    function updateCartQuantityDisplay() {
        let cart = JSON.parse(localStorage.getItem('cart')) || [];
        let totalQuantity = cart.reduce((acc, item) => acc + item.quantity, 0);

        document.getElementById('cartQuantity').textContent = totalQuantity;
    }

    document.addEventListener('DOMContentLoaded', updateCartQuantityDisplay);
</script>
