@model Collaborative_Resource_Management_System.Models.Consumable


    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="~/img/GlueSticks.jpg" alt="@Model.Name" class="img-fluid rounded" />
            </div>
            <div class="col-md-6">
                <h2>@Model.Name</h2>
                <p>Description: @Model.Description</p>
                <p>Price Per Unit: @Model.PricePerUnit</p>
                <p>Quantity Available: @Model.QuantityAvailable</p>
                <button id="addToCart" class="btn btn-primary mr-2">Add to Cart</button>
                <button id="checkout" class="btn btn-secondary">Checkout</button>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.getElementById("addToCart").addEventListener("click", function () {
        });

        document.getElementById("checkout").addEventListener("click", function () {
        });
    </script>

