@model Collaborative_Resource_Management_System.Models.NonConsumable

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Non-Consumables Item Details";
}

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="~/img/Dell.jpg" alt="@Model.Name" class="img-fluid rounded" />
            </div>
            <div class="col-md-6">
                <h2>@Model.Name</h2>
                <p>Description: @Model.Description</p>
                <button id="addToCart" class="btn btn-primary mr-2">Add to Cart</button>
                <button id="checkout" class="btn btn-secondary">Checkout</button>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script defer>
    document.getElementById("checkout").addEventListener("click", function () {
        window.location.href = '@Url.Action("Cart", "Inventory")';
    });

    document.getElementById("addToCart").addEventListener("click", function () {
        addToCart('@Model.InventoryItemID', '@Model.Name', 'N/A');
    });
    function addToCart(itemID, itemName, price) {
        let cart = JSON.parse(localStorage.getItem('cart')) || [];
        let found = cart.find(item => item.id === itemID);

        if (found) {
            found.quantity++;
        } else {
            cart.push({ id: itemID, name: itemName, price: price, quantity: 1 });
        }

        localStorage.setItem('cart', JSON.stringify(cart));
    }
    </script>

