@using Collaborative_Resource_Management_System.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Non-Consumables";
}

    <div class="container mt-4">
        <div class="container">
            <div class="row mb-4">
                <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="Search non-consumables...">
                </div>
                <div class="col-md-3">
                    <select class="form-control" id="priceFilter">
                        <option value="">Select Price Range</option>
                        <option value="0-10">$0 - $10</option>
                        <option value="10-50">$10 - $50</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select class="form-control" id="createdByFilter">
                        <option value="">Select Created By</option>
                        <option value="User1">User1</option>
                        <option value="User2">User2</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select class="form-control" id="categoryFilter">
                        <option value="">Select Category</option>
                        <option value="Category1">Category1</option>
                        <option value="Category2">Category2</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {
                    if (item.ItemType == ItemType.NonConsumable)
                    {
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <img src="~/img/Dell.jpg" class="card-img-top" alt="@item.Name" />
                                <div class="card-body">
                                    <h5 class="card-title">@item.Name</h5>
                                    <p class="card-text">
                                        Description: @item.Description <br />
                                        Created By: @item.CreatedBy <br />
                                        Asset Tag: @item.AssetTag 
                                    </p>
                                    <a href="@Url.Action("NonConsumableDetails", "Inventory", new { id = item.InventoryItemID })">View Details</a>
                                </div>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

